* {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 30, 37);
    color: white;

}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem;
}

.nav {
    text-align: center;
}

.navBox {
    display: inline-block;
    height: 25px;
    width: 100px;
    background-color: #d2b48c;
    padding: 0.1rem;
    border-radius: 10px;
    text-align: center;
    margin: center;
    padding-top: 0.5rem;

}

.navlink {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
    background-color: #d2b48c;
    margin: auto;

}

.hi {
    font-family: 'Rampart One', cursive;
    color: #ffebcd;
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
    padding: 3rem;
}

.projects {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 900;
    border-bottom: 2px solid white;
    width: 125px;
    text-align: center;
    margin: auto;
    margin-top: 10rem;

}

li {
    list-style-type: none;
}

img {
    border-radius: 15px;
    margin-top: 25px;

}

img:hover{
    opacity: 0.5;

}

.img {
    display: inline;
    width: 15%;


}

.imgall {
    text-align: center;

}

.contactMe {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 900;
    border-bottom: 2px solid white;
    width: 125px;
    text-align: center;
    padding-top: 10rem;
    margin: auto;
}

.sendMessage {
    /* background-color: rgb(255, 149, 0); */

    text-align: center;
    font-size: 1.20rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 5px;
}

.form {
    text-align: center;
    padding-bottom: 5px 0 0 15px;
}

.input {
    width: 50rem;
    height: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    border: 2px solid #a28a6c;
    border-radius: 5px;
    text-align: center;
    color:#ffffff ;
    text-transform:capitalize;
}

.inputText{
    height: 10rem;
    padding-bottom: 5px;
    resize: vertical;

}

textarea{
    padding-top: 15px;

}

/* button{
    background-color: #a28a6c;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #e0e0e0;
    margin-bottom: 3rem;

}

button:hover{
    background-color: #d2b48c;
    border: 2px solid #d2b48c;
    color: red;
    height: 3.2rem;
    font-size: 1.6rem;
    transition-duration: 0.1s;
    padding-right: 2rem;

}

button:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
    color: red;

}
button:hover:after{
    opacity: 1;
    right: 10px;
    color:red;
} */

button {
    border-radius: 4px;
    background-color: #a28a6c;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    /* display: block; */
  }

  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }

  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }

  button:hover:after {
    opacity: 1;
    right: 10px;
  }

.inhov:focus {
    outline: none !important;
    border-color: rgb(174, 13, 13);
    /* box-shadow: 0 0 10px #719ECE; */
 }

 img:hover{
    cursor: pointer;
 }



.top{
    border: 2px solid #d2b48c;
    background-color: #d2b48c;
    border-radius: 10px;
    padding: 9px 35px;
    float: right;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0 15px 15px 0;

}

.fa-brands {
    color: #d2b48c;
    /* font-size: 1.25rem;
    padding-top: 20px; */

}

.socialMain{
    font-family: 'Times New Roman', Times, serif;
}



.socialText{
    color: #d2b48c;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.25rem;
    padding-left: 20px;
    font-weight: 600;
    /* border: 5px solid red; */

    font-family: times 'Times New Roman', Times, serif;


}
.socialText:hover{
    /* color: #a28a6c; */
    color: red;
}

.socialText:hover i{
    /* color: #a28a6c; */
    color: red;
}

.socialMainContainer{
    text-align: center;

    font-family: times 'Times New Roman', Times, serif;
    margin-top: 20px;


}
/* .social:hover{
    color: red;
    border: 2px solid red;
    display: inline;
} */
