.container {
    display: flex;
    /* justify-content: space-between; */
    width: 30%;
    gap: 1rem;
}

p {
    color: white;

}

span {
    color: orange;

}

.icons {
    border-radius: 5px;
    width: 60px;
    height: 70px;
    margin-bottom: 1.5rem;
    
}

.today{
    font-size: 2rem;
}

